<section id="lessons" class="view">
  <p>レッスン の中から番号をクリックすると練習がはじまるよ</p>
  <div class="lesson-grid">
    <!-- JSONから動的にカードを挿入する -->
    <div class="lesson-card" data-json="./data/lessons1.json" data-lesson="L1">
      <h3>Lesson 1</h3>
      <div class="drills"></div>
    </div>
    <div class="lesson-card" data-json="./data/lessons2.json" data-lesson="L2">
      <h3>Lesson 2</h3>
      <div class="drills"></div>
    </div>
    <div class="lesson-card" data-json="./data/lessons3.json" data-lesson="L2">
      <h3>Lesson 3</h3>
      <div class="drills"></div>
    </div>
      <div class="lesson-card" data-json="./data/lessons4.json" data-lesson="L2">
      <h3>Lesson 4</h3>
      <div class="drills"></div>
    </div>
  </div>

</section>